* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

:root {
    --primary-color: #0f172a;
    --site-white: #f8fafc;
    --muted-color: #1e293b;
    --muted-color-2: #3b82f6;
}

body {
    background: var(--primary-color);
    color: var(--site-white);

    display: flex;
    flex-direction: column;
    height: 100vh;

    align-items: center;
}

h1 {
    margin-top: 5px;
}

footer {
    margin-bottom: 5px;
}

#div-search {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    margin-top: auto;
    margin-bottom: auto;

    background: var(--muted-color);
    width: fit-content;
    border-radius: 15px; /* Rounds corners by 15px */
    padding: 10px;
    gap: 10px;
}

#input-search {
    background: transparent;
    color: var(--site-white);
    width: 60vw;
    height: 44px;
    font-size: 1.25rem;
    border-radius: 8px;
    padding: 0px 12px;
}

#button-search {
    display: inline-flex;
    align-items: center;

    color: var(--site-white);
    font-size: 1rem;
    font-weight: 600;

    height: 44px;
    background: var(--muted-color-2);
    border-radius: 8px;
    padding: 4px 16px;

    transition: all 0.1s ease-in-out;
}

#input-search, #button-search {
    border: 1px solid rgba(255, 255, 255, 0.2)
}

#input-search:focus {
    outline: none;
    border-color: var(--muted-color-2);
}

#button-search:hover {
    cursor: pointer;
    transform: translateY(-10px);
    opacity: 0.9;
}
